@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
[phx-drop-target].drag-over {
    border-color: #3b82f6;
    /* Tailwind's blue-500 */
    background-color: #eff6ff;
    /* Tailwind's blue-50 */
}

/* In your app.css */
.reaction {
    transition: all 0.1s ease;
}

.reaction:hover {
    transform: scale(1.1);
}

.reaction-picker {
    animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}